.header_tabbar_wrapper{
    width: 100%;
    border-bottom: 3px solid #00926d;
}

.header_tabbar_content{
    width: 91.8%;
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.header_tabbar_content .tabbar_item1,.header_tabbar_content .tabbar_item2{
    height: 41px;
    line-height: 41px;
    float: left;
    font-size: 16px;
    font-weight: bold;
}

.header_tabbar_content .tabbar_item1:hover,.header_tabbar_content .tabbar_item2:hover{
    color: #00926d;
    cursor: pointer;
}

.header_tabbar_content .tabbar_item1{
    padding: 0 20px;
    overflow: hidden;
}

.header_tabbar_content .tabbar_item2{
    padding: 0 30px;
}

/***
tabbar选中时的样式
 */
.header_tabbar_content .tabbar_item_active{
    color: #fff;
    font-size: 18px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #00926d;
}

.txt,.iconxiajiantou::after{
    float: left;
}

.iconxiajiantou::after{
    content: "\e731";
    font-weight: bold;
    display: block;
    width: 14px;
    margin-top: 4px;
    font-size: 22px;
    color: #fff;
    margin-left: 35px;
    transform:rotate(269deg);
    -ms-transform:rotate(269deg); /* Internet Explorer */
    -moz-transform:rotate(269deg); /* Firefox */
    -webkit-transform:rotate(269deg); /* Safari 和 Chrome */
    -o-transform:rotate(269deg); /* Opera */
}