ul{
    padding: 0;
    margin: 0;
    list-style: none;
}


.content_wrapper{
    width: 100%;
    border: 1px dashed red;
    background: #f4f6f5;
}

.content_wrapper .content{
    width: 91.8%;
    min-width: 1200px;
    margin: 0 auto;
    /*overflow: hidden;*/
    color: #595959;
    font-size: 14px;
    font-weight: 500;
    border: 1px dashed red;
    overflow: hidden;
    padding-top: 1%;
}

.content_wrapper .content .content_left{
    float: left;
}

.content_wrapper .content .content_right{
    float: right;
}

.content_wrapper .content .content_left{
    border: 1px solid orange;
    width: 78.6%;
}

.content_wrapper .content .content_right{
    border: 1px solid red;
    width: 20%;
    margin-left: 17.5px;
}

.item-class-show{
    padding-bottom: 15px;
}

.container-full{
    width: 100%;
    background: #fff;
}

.item-class-group{
    overflow: hidden;
}

.item-class-group .item-class-name,.item-class-group .item-class-select{
    float: left;
    padding-top: 15px;
}

.item-class-group .item-class-name{
    font-weight: bold;
}

.item-class-group .item-class-name{
    padding-left: 15px;
}

.item-class-group .item-class-select{
    padding-left: 7px;
}

.item-class-group .item-class-select span{
    margin-right: 15px;
    padding:2px 10px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
}

.item-class-group .item-class-select span.active{
    background: #00926d;
    color: #fff;
}

.content_right .title{
    width: 100%;
    border: 1px dashed blue;
    background: #fff;
    padding: 15px 15px;
}

.content_right .title .title_content span{
    font-weight: bold;
    font-size: 22px;
}

.content_right .title .title_content{
    position: relative;
    border: 0px solid red;
    padding-left: 12px;
}

.content_right .title .title_content:before{
    content:"";
    display: block;
    width: 6px;
    height: 33px;
    background: #00926d;
    position: absolute;
    left: 0;
    top: 0;
}

.content_item_wrapper{
    border: 1px solid red;
    margin-top: 3%;
    padding: 0 15px;
    background: #fff;
}




.content_item_wrapper .item-show-price .logo{
    width: 80px;
    height: 80px;
    border: 1px dashed blue;
}

.content_item_wrapper_1{
    border-top: 2px solid #7fc8b6;
}

.content_item_wrapper_2{
    border-top: 2px solid #f6bb84;
}

.content_item_wrapper_3{
     border-top: 2px solid #8bc7ff;
}


.content_item_wrapper .item-show-info .item-show-price{
    padding-top: 15px;
    border-bottom: 1px dashed #8c8c8c;
    overflow: hidden;
}

.content_item_wrapper .item-show-price .logo img{
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid greenyellow;
}

.content_item_wrapper .item-show-price .logo,
.content_item_wrapper .item-show-price .infor{
   float: left;
}

.content_item_wrapper .item-show-price .infor{
    border: 1px solid  brown;
    height: 80px;
    width: 67%;
    display: block;
}

.content_item_wrapper .item-show-info .item-show-detail{
    border: 1px dashed red;
    position: relative;
}

.content_item_wrapper .item-show-info .item-show-num{
    border: 1px dashed red;
    padding: 6px 0;
}

.content_item_wrapper .item-show-info .item-show-seller{
    padding: 17.5px 0;
    border: 1px dashed blue;
}

.item-show-price .text_title{
    height: 44px;
    line-height: 44px;
    font-weight: bold;
    border: 1px dashed orange;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.text_content_wrapper{
    overflow: hidden;
}

.text_content_wrapper .text_content{
    float: left;
    display: block;
    font-size: 12px;
    max-width: 50%;
    word-break: keep-all;
    white-space: nowrap;
}

.text_content_wrapper .text_content span:nth-child(2){
    color: orange;
}

.text_content_wrapper .text_content:nth-child(2){
    float: right;
}
.item-show-seller span{
    color: black;
    font-size: 12px;
}

.content_item_wrapper .mapIco::before{
    content: "\e60b";
    color:#cccccc;
}

.item-show-num{
    overflow: hidden;
}

.item-show-num .item{
    padding: 0 5px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #8c8c8c;
    font-size: 12px;
    text-align: center;
    float: left;
    margin-right: 6px;
    border-radius: 2px;
}
.item-show-detail .item_show_detail_content{
    border: 1px solid red;
    font-size: 12px;
    overflow: hidden;
}

.item-show-detail .item_show_detail_content .star,
.item-show-detail .item_show_detail_content .infor_text{
    float: left;
}

.item-show-detail .item_show_detail_content .star,.item-show-detail .item_show_detail_content .infor_text{
    display: block;
    margin-right: 7px;
}

.item-show-detail .item_show_detail_content .star img{
     width: 15px;
     height: 15px;
}

.item-show-detail .item_show_detail_content .star{
    max-width: 90px;
    border: 1px dashed red;
}

.item-show-detail .item_type{
    width: 56.5px;
    height: 24.5px;
    text-align: center;
    line-height: 24.5px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    border-radius: 2px;
    background: #fff5d9;
    border: 1px solid #ffc106;
}

.item-show-detail .item_type .ico_qijian{
    width: 14px;
    height: 14px;
    display: inline-block;
}

.listsrp_sortbar,
.listrp_list{
    width: 100%;
    background: #ffff;
    clear: both;
}

.listsrp_sortbar{
    margin-top: 1.5%;
    font-size: 12px;
    border-bottom: 1px solid #d9d9d9;
    /*overflow: hidden;*/
}

.listsrp_sortbar::after{
    content:"";
    display: block;
    clear: both;
}

.listsrp_sortbar .listsrp_sortbar_list_wrapper,.listsrp_sortbar .listsrp_sortbar_inputs_wrapper{
    float: left;
}

.listsrp_sortbar .listsrp_sortbar_list_wrapper{
    overflow: hidden;
    margin-bottom: 0px;
    width: 36.6%;
}

.listsrp_sortbar .listsrp_sortbar_list_item{
    float: left;
    padding: 12px 15px;
    line-height: 15px;
    position: relative;
}

.listsrp_sortbar .listsrp_sortbar_list_item .sort_wrapper{
    position: absolute;
    display: block;
    top:50%;
    margin-top:-8.2px;
    right: 0;
    text-indent: -16px;
}

.sort_wrapper::before,
.sort_wrapper::after{
    height: 5px;
    line-height: 11px;
    display: block;
}

.sort_wrapper::before,.sort_up_jiantou::before{
    content: "\e62a";
}

.sort_wrapper::after,.sort_down_jiantou::after{
    content: "\e634";
}

.listsrp_sortbar_list_item_active,.sort_up_jiantou::before,.sort_down_jiantou::after{
    color: #00926d;
}


.listsrp_sortbar_inputs_wrapper{
    display: inline-block;
    padding-top: 6px;
}

.listsrp_sortbar_inputs_wrapper::after{
    content:"";
    clear: both;
}

.selectBox{
    width: 80px;
    height: 25.6px;
    line-height: 25.6px;
    background: #fff;
    color: #d7d7d7;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    float: left;
    margin-right: 6px;
}

.inputCase{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.inputCase input.imitationSelect{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    text-indent: 20px;
    cursor: default;
}
.inputCase i.fa{
    position: absolute;
    right: 10px;
    top: 6px;
    color: #a6a6a6;
}
.selectUl{
    display: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.selectUl li{
    height: 25.6px;
    line-height: 25.6px;
    list-style: none;
    text-indent: 20px;
    border-bottom: 1px solid #ccc;transition: all .5s ease 0s;
    cursor: pointer;
    background: #fff;
}
.selectUl li:hover{
    background: #ddd;
}
.selectUl li:last-child{
    border-bottom: 0 none;
}

/**搜索框**/
div.search {
    width: 115.5px;
    height: 25.6px;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    float: left;
    overflow: hidden;
}
.search form {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.d1 {background: #A3D0C3;}
.d1 input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}
.d1 button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.d1 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.d2 {background: #DABB52;}
.d2 input, .d2 button {
    border: none;
    outline: none;
    border-radius: 3px;
}
.d2 input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
}
.d2 button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #F15B42;
    cursor: pointer;
}
.d2 button:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}
.d3 {background: #F9F0DA;}
.d3 form {
    background: #fff;
}
.d3 input, .d3 button {
    border: none;
    outline: none;
    background: transparent;
}
.d3 input {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    font-size: 13px;
    color: #d7d7d7;
}
.d3 button {
    height:100%;
    width: 29px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.d3 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #8c8c8c;
}
.d4 {background: #F15B42;}
.d4 form {
    background: #F9F0DA;
    border-bottom: 4px solid #be290e;
}
.d4 input, .d4 button {
    border: none;
    outline: none;
    background: transparent;
}
.d4 input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
.d4 button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.d4 button:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 20px;
    color: #be290e;
}
.d5 {background: #683B4D;}
.d5 input, .d5 button {
    outline: none;
    background: transparent;
}
.d5 input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    border: 3px solid #F9F0DA;
}
.d5 button {
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.d5 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.d5 input:focus {
    border-color: #311c24
}
.d6 {background: #B46381;}
.d6 form {
    height: 42px;
}
.d6 input {
    height: 100%;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.d6 input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
}
.d6 button {
    background: #683B4D;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.d6 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.d7 {background: #7BA7AB;}
.d7:after {content:""; clear:both; display:table}
.d7 form {
    width: auto;
    float: right;
    margin-right: 30px;
}
.d7 input {
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #F9F0DA;
    outline: none;
    position: relative;
    transition: .3s linear;
}
.d7 input:focus {
    width: 300px;
}
.d7 button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: -2px;
    right: 0;
}
.d7 button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}

.page_num{
    width: 70px;
    height: 42.4px;
    line-height: 42.4px;
    float: right;
}

.page_num .page_num_content{
    /*border: 1px solid red;*/
    height: 100%;
    text-align: center;
    position: relative;
}

.page_num .page_num_content span{
    /*border: 1px dashed red;*/
}

.page_num_content .curPage{
    color: #00926d;
}


.page_num .page_num_content::before,
.page_num .page_num_content::after{
    content: "\e731";
    display: block;
    width: 14px;
    margin-top: 4px;
    font-size: 22px;
    color: #8c8c8c;
}

.page_num .page_num_content::before{
    transform: rotate(451deg);
    -ms-transform: rotate(451deg);
    -moz-transform: rotate(451deg);
    -webkit-transform: rotate(451deg);
    -o-transform: rotate(451deg);
    position: absolute;
    left: 10px;
    top: -8px;
    margin-right: 5px;
}

.page_num .page_num_content::after {
    /* border: 1px solid greenyellow; */
    margin-left: 35px;
    transform: rotate(269deg);
    -ms-transform: rotate(269deg);
    -moz-transform: rotate(269deg);
    -webkit-transform: rotate(269deg);
    -o-transform: rotate(269deg);
    position: absolute;
    right: 4px;
    top: 0;
    margin-right: 5px;
}

.listrp_list{
    overflow: hidden;
    padding-left: 1.5%;
}

.listrp_list .listrp_list_item{
    width: 325px;
    border: 1px solid red;
    height: 440px;
    float: left;
    margin: 1.5%;
}

.listrp_list_item_img_wrapper img{
    border: 1px dashed red;
    height: 203.3px;
    display: block;
}

.listrp_list_item_content{
    background: #f4f6f5;
    margin-top: 0;
}

.content_item_wrapper .item-show-info .item-show-price-2 {
    overflow: hidden;
    padding-top: 18.5px;
    padding-: 18.5px;
    font-size: 16px;
}

.listtrp_list_bottom{
    border: 1px solid red;
    height: 234.5px;
    padding: 0 19.5px;
    background: #f4f6f5;
}

.listtrp_list_bottom .title{
    font-weight: bold;
    font-size: 22px;
    padding-top: 19px;
    color: black;
}

.listtrp_list_bottom .stars_wrapper{
    border: 1px solid red;
    position: relative;
}

.listtrp_list_bottom .stars_wrapper .item_type{
    width: 56.5px;
    height: 24.5px;
    text-align: center;
    line-height: 24.5px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    border-radius: 2px;
    background: #fff5d9;
    border: 1px solid #ffc106;
}

.listtrp_list_bottom .stars_wrapper .item_type .ico_qijian{
    width: 14px;
    height: 14px;
    display: inline-block;
}

.listtrp_list_bottom .stars_wrapper .stars_show_detail_content{
    border: 1px solid red;
    font-size: 12px;
    overflow: hidden;
}

.listtrp_list_bottom .stars_wrapper .stars_show_detail_content .star{
    max-width: 90px;
    border: 1px dashed red;
    display: block;
    margin-right: 7px;
    float: right;
}

.listtrp_list_bottom .stars_wrapper .stars_show_detail_content .star img{
    width: 15px;
    height: 15px;
}

.listtrp_list_bottom .stars_wrapper .stars_show_detail_content .infor_text{
    display: block;
    margin-right: 7px;
    margin-top: 2px;
    float: right;
}