.tabbar_two_wrapper{
    width: 100%;
    background-size: 100% 100%;
    border-bottom: 3px dashed #e2e3e3;
}

.tabbar_two_wrapper .tabbar_two_content{
    width: 91.8%;
    min-width: 1200px;
    margin: 0 auto;
    /*overflow: hidden;*/
    color: #595959;
    font-size: 14px;
    font-weight: 500;
}

.tabbar_two_wrapper .tabbar_two_content::after{
    content: "";
    display: block;
    clear:both;
}

.tabbar_two_content .tabbbar_two_content_first,
.tabbar_two_content .tabbbar_two_content_menu{
    float: left;
}

.tabbar_two_content .tabbbar_two_content_first{
    width: 85px;
    text-align: center;
}

.tabbar_two_content .tabbbar_two_content_menu{
    /*overflow: hidden;*/
    font-size: 14px;
}

.tabbar_two_content .tabbbar_two_content_menu .menu_item,
.tabbar_two_content .tabbbar_two_content_first{
    height: 55px;
    line-height: 55px;
}

.tabbar_two_content .tabbbar_two_content_menu .menu_item{
    float: left;
    padding-top: 11px;
    position: relative;
    padding-right: 25px;
}

.list_wrapper,.list_wrapper_active{
    line-height: 33px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px 2px #f4f6f5;
    text-align: center;
    background: #fff;
    float: left;
    cursor: pointer;
}

.list_wrapper .list_item,.list_wrapper_active .list_item{
    padding: 0 10px;
}

/***
下拉列表List鼠标未漂浮状态
**/
.list_wrapper{
    height: 33px;
    overflow: hidden;
}

/**
下拉列表List鼠标漂浮状态
**/
.iconxiajiantou::after{
    content: "\e731";
    font-weight: bold;
    display: block;
    width: 14px;
    margin-top: 4px;
    font-size: 22px;
    color: #8c8c8c;
    /* border: 1px solid greenyellow; */
    margin-left: 35px;
    transform:rotate(269deg);
    -ms-transform:rotate(269deg); /* Internet Explorer */
    -moz-transform:rotate(269deg); /* Firefox */
    -webkit-transform:rotate(269deg); /* Safari 和 Chrome */
    -o-transform:rotate(269deg); /* Opera */
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
}



